<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>商品一覧</h1><%= link_to "新規登録", new_admin_item_path %>
      <table class="table">
          <thead>
            <tr>
              <th>商品ID</th>
              <th>商品名</th>
              <th>税抜価格</th>
              <th>ジャンル</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <% @items.each do |item| %>
          <tbody>
            <tr>
              <td><%= item.id %> </td>
              <td>
                <%= link_to admin_item_path(item.id) do %>
                <%= item.name %>
                <% end %>
                </td>
              <td><%= item.price %></td>
              <td><%= item.genre.name %></td>
              <% if item.is_activ %>
              <td>販売中</td>
              <% else %>
              <td>販売停止中</td>
              <% end %>
            </tr>
          </tbody>
          <% end %>
        </table>
    </div>
  </div>
</div>