<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>商品詳細</h2>
      <div>
        <%= image_tag @item.get_item_image %>
      </div>
      <div>
        <div>
          <h5>商品名</h5>
          <%= @item.name %>
        </div>
        <div>
          <h5>商品説明</h5>
          <%= @item.introduction %>
        </div>
        <div>
          <h5>ジャンル</h5>
          <%= @item.genre.name  %>
        </div>
        <div>
          <h5>税込価格</h5>
          <%= @item.price %>yen
        </div>
        <div>
          <h5>販売ステータス</h5>
          <% if @item.is_activ %>
              <td>販売中</td>
              <% else %>
              <td>販売停止中</td>
              <% end %>
        </div>
      </div>
      <%= link_to '編集する', edit_admin_item_path,class:"btn btn-secondary"%>
    </div>
  </div>
</div>