<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2><%= @customer.name %>さんの会員詳細</h2>
      <div>
        <div>
          <h6>会員ID</h6>
          <%= @customer.id %>
        </div>
        <div>
          <h6>氏名</h6>
          <%= @customer.first_name %><%= @customer.last_name %>
        </div>
        <div>
          <h6>フリガナ</h6>
          <%= @customer.first_name_kana %><%= @customer.last_name_kana %>
        </div>
        <div>
          <h6>郵便番号</h6>
          <%= @customer.postal_code %>
        </div>
        <div>
          <h6>住所</h6>
          <%= @customer.address %>
        </div>
        <div>
          <h6>電話番号</h6>
          <%= @customer.telephone_number %>
        </div>
        <div>
          <h6>メールアドレス</h6>
          <%= @customer.email %>
        </div>
        <div>
          <h6>会員ステータス</h6>
          <%= @customer.is_active %>
        </div>
      </div>
      <%= link_to '編集する', edit_admin_item_path,class:"btn btn-secondary"%>
      <%= link_to '注文履歴一覧を見る', admin_order_details_path(@customer.id),class:"btn btn-secondary"%>
    </div>
  </div>
</div>