<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      
      <% if @gunre.errors.any? %>
      <div id="error_explanation">
        <h3>
          <%= @gunre.errors.count %> errors prohibited this obj from being saved:
        </h3>
        <ul>
          <% @gunre.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <%= form_with model: @genre do |f| %>
      <div class="form-group">
        <label>商品画像</label>
        <%= f.text_field :name %>
      </div>
      <div class="form-group">
        <%= f.submit '新規登録', class:"btn btn-secondary"%>
      <% end %>
      </div>
      <table class="table">
          <thead>
            <tr>
              <th>会員ID</th>
              <th　colspan"3"></th>
            </tr>
          </thead>
          <% @gunres.each do |gunres| %>
          <tbody>
            <tr>
              <td><%= gunres.name %></td>
              <td><%= link_to "編集する", edit_gunre_path(gunres.id)%></td>
            </tr>
          </tbody>
          <% end %>
        </table>
    </div>
  </div>
</div>
