<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <div>
        <h4>ジャンル検索</h4>
        <% @items.gunre.each do |f| %>
        <p><%= f.name %></p>
        <% end %>
      </div>
      <div>
        <h2><%= @item.name %></h2>
        <div>
          <%= image_tag @item.get_item_image %>
          <div>
            <p><%= @item.introduction %></p>
            <p>￥<%= @item.price %></p>
            <% form_with model: @cart_item do |f| %>
            <%= f.hidden_field :item_id, :value=>@item.id  
            <%= f.select :amount,  *[1..9] %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>